h1{
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

div {
  border: solid 3px lightslategray;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  
}

#countries-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.country {
  margin: 10px;
  cursor: pointer;
}

#country-details {
  border: solid 1px lightslategray;
  position: fixed;
  top: 20%;
  left:40%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999;
}

#close-btn {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  border: solid 1px lightslategray;
}

.hidden {
  display: none;
}